$whiteColor : hsl(0, 100%, 100%);
$transparentBlack: hsla(0, 0%, 0%, 0.15);
$blackColor: hsl(0, 0%, 87%);
$on : hsl(199, 100%, 33%);
$bg : hsl(46, 44%, 74%);
$off: hsl(0, 0%, 38%);
$defaultBtn : hsl(0, 0%, 90%);
$black: hsl(0, 0%, 0%);
$danger: hsl(355, 83%, 39%);